<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Logo -->
        <a class="logo pull-left" href="@Url.Action("Index", "Home")">
            <img src="~/assets/images/_smarty/logo_light.png" alt="" /> <!-- light logo -->
            <img src="~/assets/images/_smarty/logo_dark.png" alt="" /> <!-- dark logo -->
        </a>

        <!--
            Top Nav

            AVAILABLE CLASSES:
            submenu-dark = dark sub menu
        -->
        <div class="navbar-collapse pull-right nav-main-collapse collapse">
            <nav class="nav-main">

                <ul id="topMain" class="nav nav-pills nav-main">
                    <li class="active">
                        @Html.ActionLink("Delegates List", "Index", "SessionDelegates")
                    </li>
                    <li class="dropdown">@Html.ActionLink("Institutions", "Index", "Institutions")</li>
                    <li class="dropdown">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="dropdown">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </nav>
        </div>

    </div>
</header>
