@using cjcsessionapp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="box-static box-border-top p-30">
    <div class="box-title mb-30">
        <h2 class="fs-20">Login</h2>
    </div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", autofocus = "autofocus", placeholder = HttpUtility.HtmlDecode("&#xf003;"), style = "font-family:Arial, FontAwesome" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </fieldset>
        <footer>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Log in" class="btn btn-success btn-lg btn-block" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.ActionLink("I am a New User", "Register", "Account")
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </div>
            </div>
        </footer>

    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
