@using cjcsessionapp.Models
@model cjcsessionapp.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<div class="box-static box-border-top p-30">
    <div class="box-title mb-30">
        <h2 class="fs-20">Register</h2>
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

    <fieldset>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Position, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.Position, ListsHelperModel.Positions(), "-- Position --", new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Email, new { @class = "control-label", autofocus = "autofocus" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>            
        </div>

        <div class="row">            
            <div class="col-md-12">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    </fieldset>

        <div class="row">
            <div class="col-md-6">
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default btn-lg btn-block" })
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-success btn-lg btn-block" value="Register" />
            </div>
        </div>



    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
