@using cjcsessionapp.Models
@model Institution

@{
    ViewBag.Title = "Add New Institution";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add Institution</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    <label>No. of Delegates Assigned</label>
                    @Html.DropDownListFor(model => model.NumberOfDelegatesAssigned, ListsHelperModel.NumberList(), "--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NumberOfDelegatesAssigned, "", new { @class = "text-danger" })
                </div>                    
            </div>    
            
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Create" class="btn btn-success" />                
                    @Html.ActionLink("Cancel", "Index", null, new { @class="btn btn-default"})
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
