@using cjcsessionapp.Models
@model Institution

@{
    ViewBag.Title = "Edit";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit Institution</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "Institutions", FormMethod.Post, null))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model=>model.Id)

            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    <label>No. of Delegates Assigned</label>
                    @Html.DropDownListFor(model => model.NumberOfDelegatesAssigned, ListsHelperModel.NumberList(), "--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NumberOfDelegatesAssigned, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <input type="submit" value="Update" class="btn btn-success" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
