@using cjcsessionapp.Models
@model SessionDelegate

<!-- header modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="registerDelegateModal">Register Delegate</h4>
</div>

<!-- body modal -->
<div class="modal-body">
    <h3>Are you sure you want to register this delegate?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            
            <dt>
                Institution
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Institution.Name)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.DelegateType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DelegateType)
            </dd>
        </dl>

        @using (Html.BeginForm(null, null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.Id)

            <div class="form-actions no-color">
                <input type="submit" value="Register" class="btn btn-primary" />                
            </div>
        }
    </div>

</div>
