@using cjcsessionapp.Models
@model cjcsessionapp.Models.SessionDelegate

@{
    ViewBag.Title = "Edit";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Edit Delegate Information</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Edit", "SessionDelegates", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.DateAdded)

            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.NameTitle)
                    @Html.DropDownListFor(model => model.NameTitle, ListsHelperModel.GetNameTitles(), "Select Title", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NameTitle, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    @Html.LabelFor(model => model.FirstName)
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    @Html.LabelFor(model => model.LastName)
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label>Institutions</label>
                    @Html.DropDownList("InstitutionId", (IEnumerable<SelectListItem>)ViewBag.InstitutionList, "Select Institution", new { @class = "form-control required select2" })
                    @Html.ValidationMessageFor(model => model.InstitutionId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.DelegateType)
                    @Html.DropDownListFor(model => model.DelegateType, ListsHelperModel.DelegateType(), "Select Delegate Type", new { @class = "form-control required" })
                    @Html.ValidationMessageFor(model => model.DelegateType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Address)
                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Telephone)
                    @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Gender)
                    @Html.DropDownListFor(model => model.Gender, ListsHelperModel.GetGenderList(), "Select Gender", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.AgeGroup)
                    @Html.TextBoxFor(model => model.AgeGroup, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AgeGroup, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(model => model.MartialStatus)
                    @Html.DropDownListFor(model => model.MartialStatus, ListsHelperModel.GetMaritalStatus(), "Select Marital Status", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MartialStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EmergencyContactName)
                    @Html.TextBoxFor(model => model.EmergencyContactName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmergencyContactName, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.EmergencyContactPhone)
                    @Html.TextBoxFor(model => model.EmergencyContactPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmergencyContactPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.RequireHousing)
                        <span>Require Housing?</span>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.Vegetarian)
                        <span>Are you Vegan?</span>
                    </label>
                </div>
            </div>

            <h4 class="text-center">Health-Related Condition (s) (Do you suffer from any of hte following):</h4>
            <hr />

            <div class="row">
                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.Allergies)
                        <span>Allergies</span>
                    </label>
                </div>

                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.Asthma)
                        <span>Asthma</span>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.Diabetes)
                        <span>Diabetes</span>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.HighBloodPressure)
                        <span>High Blood Pressure</span>
                    </label>
                </div>
                <div class="col-md-4">
                    <label>
                        @Html.CheckBoxFor(model => model.BronchialDisorder)
                        <span>Bronchial Disorder</span>
                    </label>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-success btn-round" type="submit">Save Changes</button>
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-default btn-round" })
                </div>
                <div class="col-md-6">
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script src="~/assets/plugins/form.validate/jquery.form.min.js"></script>
    <script src="~/assets/plugins/form.validate/jquery.validation.min.js"></script>
}
