@model IEnumerable<cjcsessionapp.Models.SessionDelegate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pastor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MartialStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequireHousing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reguar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DelegateAtLarge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialDelegate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allergies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asthma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diabetes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vegetarian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighBloodPressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BronchialDisorder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pastor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MartialStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequireHousing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reguar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DelegateAtLarge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialDelegate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allergies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asthma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diabetes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vegetarian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HighBloodPressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BronchialDisorder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
